<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CuuChuong</title>
</head>
<body>
<h1>Bảng cửu chương</h1>
<table style="width: 600px;border-collapse: collapse;" border="2">
    <thead>
    <tr>
        <th>Phép tính</th>
        <th>Kết quả</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="result : ${cuuchuong}">
        <td th:text="${result.split('=')[0]}"></td>
        <td th:text="${result.split('=')[1]}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>